@import './reset.css';
@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap');

*{
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.02rem;
}

:root{
  --primary-color: #4D1EF7;
  --primary-dark-color: #451CDE;
  --primary-light-color: #F6F4FF;
  --body-color: #000;
  
  --gray-color: #787E81;
  --gray-300-color: #DFDFDF;
  --shadow-bg-color: rgba(5, 0, 51, 0.08);
  --shadow-sm-color: rgba(10, 0, 36, 0.08);
  --btn-color: var(--primary-color);

  --error-color: #d60404;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100dvh;

  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

body {
  background-color: var(--gray-300-color);
  color: var(--body-color);
  display: flex;
  place-items: center;
}

main{
  min-height: 85dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--primary-color);
  font-weight: 500;
}
a:hover {
  color: var(--primary-dark-color);
  transition: 0.4s;
}

.button-large {
  color: white;
  font-weight: 500;
  display: inline-flex;
  padding: 0.75rem 1.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10rem;
  background-color: var(--primary-color);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  /* Shadow - Regular */
  box-shadow: 0px 1px 2px 0px rgba(0, 21, 36, 0.12);
}
.button-large:hover {
  background-color: var(--primary-dark-color);
  transition: 0.4s;
}
.button-large img {
  width: 1.5rem;
}

