@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');

*{
  font-family: 'Work Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



:root{
  --primary-color: #4D1EF7;
  --primary-dark-color: #451CDE;
  --primary-light-color: #F6F4FF;
  --body-color: #000;
  
  --gray-color: #787E81;
  --gray-300-color: #DFDFDF;
  /* --shadow-bg-color: rgba(5, 0, 51, 0.08);
  --shadow-sm-color: rgba(10, 0, 36, 0.08); */
  --btn-color : var(--primary-color);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100dvh;

  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

main{
  min-height: 85dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
.indigo {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--primary-dark-color);
  }
}

@media (min-width: 1024px) {
  body {
    background-color: var(--gray-300-color);
    color: var(--body-color);
    display: flex;
    place-items: center;
  }
}

